.bg-login-image{
  background-image: url('../img/doc.jpg');
  background-size: cover;
}

.photo_obat{
  max-width: 400px;
  max-height: 400px;
}

.photo_td{
  width: 10%;
}

.img-preview{
  max-width: 300px;
  max-height: 300px;
  border: 1px solid black;
}