@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #ecf0f1;
}

.header {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding: 0 30px;
  background: #fff;
}

.brand {
  display: flex;
  flex-direction: row;
  width: 100px;
}

.brand__img {
  height: 60px;
}
.brand__text {
  height: 70px;
}

li {
  list-style: none;
}

.nav {
  display: flex;
  flex-direction: row;
}

.nav__item {
  font-size: 16pt;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: capitalize;
  color: black;
}

.nav__item::after {
  content: " ";
  display: block;
  width: 0;
  height: 2px;
  background: #9cc495;
  transition: width 0.3s;
}

.nav__item:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.container {
  margin: 0 60px;
}
.slider {
  width: 100%;
  height: 430px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.slider__image {
  width: 65%;
  background: url("./gambar/slider/slider1.jpg");
  background-size: cover;
  height: 100%;
  animation: slides 20s infinite;
}

.slider__text {
  width: 35%;
  background: #9cc495;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.slider__title {
  text-transform: capitalize;
  font-size: 30pt;
}

.slider__content {
  margin-top: 20px;
}

.slider__button {
  font-size: 18pt;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 50px 45px 0;
  padding: 15px 30px;
}

.--button {
  text-decoration: none;
  color: #9cc495;
  background: #fff;
  border-radius: 5px;
  border: solid 2px #fff;
}

.--button:hover {
  border: dashed 2px #fff;
  color: #fff;
  background: #9cc495;
  transition: 0.5s;
}

.explore {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 10px 0;
  background: #fff;
  width: 1fr;
  height: 500px;
}

.box {
  position: relative;
  width: 300px;
  height: 400px;
  background: #000;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}

.box .imgBx {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.box:hover .imgBx img {
  opacity: 0;
}

.box .content {
  position: absolute;
  bottom: 20px;
  left: 10%;
  width: 80%;
  height: 60px;
  background: #fff;
  transition: 0.5s;
  overflow: hidden;
  padding: 15px;
  box-sizing: border-box;
}

.box:hover .content {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  color: #fff;
  background: #9cc495;
}

.box .content h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.box .content p {
  margin: 10px 0 0;
  color: #fff;
  padding: 0;
  opacity: 0;
  line-height: 1.2em;
  transition: 0.5s;
  text-align: justify;
}

.box:hover .content p {
  opacity: 1;
  transition-delay: 0.5s;
}

.explore__title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20pt;
  text-transform: capitalize;
}

.explore__boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.content__btn {
  position: absolute;
  text-decoration: none;
  padding: 10px 20px;
  margin: 10px auto 0px;
}

.nutrition {
  width: 100%;
  height: 380px;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 10px;
}

.nutrition__image {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.nutrition__text {
  width: 60%;
  padding: 30px;
  background: #9cc495;
}

.nutrition__title {
  text-transform: capitalize;
  font-size: 26pt;
}

.nutrition__content {
  margin-top: 20px;
}

.nutrition__button {
  font-size: 16pt;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 50px 45px 0;
  padding: 14px 28px;
}

.footer {
  height: 60px;
  width: 100%;
  color: #fff;
  background: rgb(29, 29, 29);
}

@keyframes slides {
  0% {
    background: url("./gambar/slider/slider1.jpg");
    background-size: cover;
  }

  35% {
    background: url("./gambar/slider/slider2.jpg");
    background-size: cover;
  }

  70% {
    background: url("./gambar/slider/slider3.jpg");
    background-size: cover;
  }
}
